:root{
    --color_fondo:#0d0d17;
    --color_header:#202034;
    --card:#1f1f2a;
    --azul-brillante: #3939d2;
    --azul-brillante2: #5555fc;
    --azul-medio: #2C2C6A;

    --texto-principal: #A5A5E8;
    --texto-secundario: #656185;
}