<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guitar Rom</title>
    <link rel="stylesheet" href="../css/todo.css">
    <link rel="icon" href="../img/logo/logo Guitar Rom.png" type="image/png">
</head>
<body>
    <header class="header">
        <img src="../img/logo/logo Guitar Rom.png">
        <h2>Biblioteca de Acordes</h2>
    </header>
    <div class="container container_biblioteca">
        <div class="volver">
            <a href="../index.html">Volver</a>
        </div>
        <div id="galeria" class="galeria">
            <img src="../img/acordes/C.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/G.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Am.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/F.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Fmaj7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/E_Gsos.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Fsosm.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Bm.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/D.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/A.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Fsos7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Em.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/B7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Asus2.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Gsosm7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Fsosm7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Gm7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/E.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Bsus2.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Gsos7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Am(cejilla).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/E7(5tacuerda).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Esos7(6tacuerda).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Dsos7(4tacuerda).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/D7(3racuerda).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/C(cejilla).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/G(cejilla).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/D(cejilla).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/D7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/C9.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Dm.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Em7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Cm.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Csosm.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Csosm7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Fsos7(simple3er).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Emaj7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/E7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Dsus2.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Asosdim7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Bm7(1ertraste).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Gsus2(2dotraste).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/D_Fsos.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Gm6.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Em9.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/G_A.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Gsos.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/C7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/CsosM7(1ertraste).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Cm7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Fm.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/F7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Asosm7(1ertraste).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Dsos(3ertraste).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/G_A.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Emaj7(1ertraste).png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Amaj7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Fsos.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/Csos7.png" alt="Acorde" class="acorde-img">
            <img src="../img/acordes/B.png" alt="Acorde" class="acorde-img">
        </div>
        <div id="modal" class="modal">
            <span id="cerrarModal" class="cerrar">&times;</span>
            <img id="imagenAmpliada" class="imagen-ampliada" alt="Vista ampliada">
        </div>
        <script src="../script/biblioteca.js"></script>
    </div>
</body>
</html>